<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mercadolibre_ui">

    <application
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ProductDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/product_detail_label" />
        <activity
            android:name=".activity.ProductsSearchActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>