<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mercadolibre_ui">

    <application>
        <activity
            android:name=".activity.ProductDetailActivity" />
        <activity
            android:name=".activity.ProductsSearchActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>